@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');





/*----- PRÉ DEFINIÇÕES -----*/
:root {
    --detail-red : rgb(136, 15, 15);
}
body {
    background-color: #f1f1f1;
}
::selection {
    background-color: transparent;
}
*:focus{
    outline: none;
}
button {
    -webkit-tap-highlight-color: transparent;
}
.max-wid {
    max-width: 3000px;
    margin: 0 auto;
}
.btn-menu, .icon-item  {
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--detail-red);
}
::-webkit-scrollbar-track {
    background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: var(--detail-red);
}
/*----- PRÉ DEFINIÇÕES -----*/




/*-------------------------------------------------------------------------------- NAV BAR --------------------------------------------------------------------------------*/
nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.411);
    backdrop-filter: blur(10px);
    z-index: 10;
}
.nav-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar-position-left, .navbar-position-center, .navbar-position-right {
    width: 33%;
    text-align: center;
}
.ulNavbar {
    display: flex;
}
.navbar-position-left li {
    padding: 25px;
    font-size: 14pt;
    color: #fff;
}
.navbar-position-left li:hover {
    color:var(--detail-red);
}
.navbar-position-center h1{
    padding: 15px 0;
    font-size: 20pt;
    font-family: "Flamenco", system-ui;
    color: #fff;
}
.navbar-position-right {
    text-align: right;
}
.navbar-position-right img {
    padding: 10px 0;
    margin: 0 10px;
}
/*-------------------------------------------------------------------------------- NAV BAR --------------------------------------------------------------------------------*/










/*-------------------------------------------------------------------------------- HOME IMAGE --------------------------------------------------------------------------------*/
.redirect-collection {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}
.name-collection {
    color: #fff;
    font-size: 16pt;
    font-weight: 100;
    margin-bottom: 5px;
}
.btn-redirect {
    border: 1px solid white;
    padding: 10px 80px;
    white-space: nowrap ;
    font-size: 20pt;
    color: #fff;
    transition: 200ms all ease-out;
}
.btn-redirect:hover {
    background-color: white;
    color: var(--detail-red);
    transition: 200ms all ease-in;
}
.home-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.background-home {
    width: 100%;
    box-shadow: 0 20px 50px #00000063;
    height: 100vh;
    object-fit: cover;
}
/*-------------------------------------------------------------------------------- HOME IMAGE --------------------------------------------------------------------------------*/










/*-------------------------------------------------------------------------------- SHOP --------------------------------------------------------------------------------*/
    .shop-title {
        color: #616161;
        font-size: 100pt;
        font-weight: 300;
        margin: 150px;
    }
    .new-01-area {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px;
    }
    .left-new {
        width: 50%;
        text-align: center;
    }
    .left-new img {
       width: 100%;
    }
    .right-new {
        width: 49%;
        display: flex;
        text-align: center;
        margin-left: 1%;
    }
    .right-new img {
        width: 90%;
    }
    .description-product {
        text-align: right;
        margin-right: 4%;
        margin-top: 2%;
    }
    .name-product {
        font-size: 12pt;
        letter-spacing: 4px;
    }
    .value-product {
        color: #616161;
        letter-spacing: 4px;
    }
/*-------------------------------------------------------------------------------- SHOP --------------------------------------------------------------------------------*/










/*-------------------------------------------------------------------------------- SLIDER IMAGES --------------------------------------------------------------------------------*/
.area-slider {
    max-width: 1200px;
    margin: 0 auto;
}
.slider-images {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 60vh;
    align-items: center;
    text-align: center;
}
.image-slider {
    margin: 5px;
    width: 30%;
    object-fit: cover;
}
.lower-img {
    width: 10%;
    height: 80%;
    margin: 0;
}
.lower-img img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    height: 100%;
    filter: brightness(0.5);
}
/*-------------------------------------------------------------------------------- SLIDER IMAGES --------------------------------------------------------------------------------*/










/*-------------------------------------------------------------------------------- CARD PRODUCTS --------------------------------------------------------------------------------*/
.card-products {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: #ffffff;
    border-radius: 50px;
}
.left-card {
    width: 50%;
}
.img-left-card {
    border-radius: 50px 0 0 50px;
    width: 100%;
    object-fit: cover;
}
.right-card {
    text-align: center;
    width: 50%;
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.block-product {
    width: 95%;
}
.img-product {
    width: 90%;
}
.more-card {
    background-color: #f1f1f1;
    padding: 5%;
    width: 90%;
    border-radius: 15px;
    white-space: nowrap ;
    letter-spacing: 2px;
    font-size: 10pt;
    color: #707070;
}
/*-------------------------------------------------------------------------------- CARD PRODUCTS --------------------------------------------------------------------------------*/


























/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------- RESPONSIVIDADE --------------------------------------------------------------------------------*/


@media screen and (max-width: 1200px) {

    /*----- NAV BAR -----*/
    nav {
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(32, 32, 32, 0.411);
        backdrop-filter: blur(10px);
        z-index: 10;
    }
    .nav-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .navbar-position-left, .navbar-position-center, .navbar-position-right {
        text-align: center;
    }
    .navbar-position-left li {
        font-size: 12pt;
    }
    .navbar-position-center h1{
        margin-top: 5px;
        font-size: 16pt;
    }
    .navbar-position-right img {
        width: 40px;
    }
    /*----- NAV BAR -----*/



    /*----- AREA 01 SHOP -----*/
    .shop-title {
        margin: 100px;
        color: #616161;
        font-size: 70pt;
    }
    .name-product {
        font-size: 10pt;
        letter-spacing: 2px;
    }
    .value-product {
        letter-spacing: 1px;
        font-size: 9pt;
    }
    /*----- AREA 01 SHOP -----*/


    /*----- SLIDER -----*/
    .area-slider {
        max-width: 1200px;
        margin: 0 auto;
    }
    .slider-images {
        display: flex;
        justify-content: center;
        margin-top: 30vh;
        margin-left: 5%;
        margin-right: 5%;
        height: 60vh;
        align-items: center;
        text-align: center;
    }
    .image-slider {
        margin: 5px;
        width: 30%;
    }
    .lower-img {
        width: 10%;
        height: 50%;
        margin: 0;
    }
    .lower-img img {
        width: 100%;
        object-fit: cover;
        margin: 0;
        height: 100%;
        filter: brightness(0.5);
    }
    /*----- SLIDER -----*/



    /*----- CARD -----*/
    .card-products {
        width: 80%;
    }
    .img-product {
        width: 90%;
    }
    /*----- CARD -----*/
}
@media screen and (max-width: 800px) {
    
    /*----- NAV BAR -----*/
    .navbar-position-center h1{
        padding: 10px 0;
    }
    .btn-menu {
        display: initial;
        color: white;
        font-size: 20pt;
        position: fixed;
        top: 4px;
        left: 30px;
        z-index: 2;
        font-size: 30pt;
    }
    .ulNavbar {
        display: initial;
        position: absolute;
        left: -1000px;
        transition: 300ms;
        background-color: rgb(0, 0, 0);
        padding-left: 30%;
        text-align: right;
    }
    .ulNavbar.actived {
        transition: 500ms;
        left: 0;
    }
    .icon-item  {
        display: initial;
        position: relative;
        top: 6px;
        left: 10px;
    }
    .navbar-position-right img {
        padding: 10px 0;
        margin: 0 10px;
        width: 30px;
    }
    /*----- NAV BAR -----*/



    /*----- HOME IMAGE -----*/
    .btn-redirect {
        padding: 10px 60px;
        white-space: nowrap ;
        font-size: 15pt;
    }
    .home-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .background-home {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        box-shadow: 0 20px 50px #00000063;
    }
    /*----- HOME IMAGE -----*/
    


    /*----- AREA 01 SHOP -----*/
    .shop-title {
        margin: 50px 10px;
        color: #616161;
        font-size: 60pt;
    }
    .new-01-area {
        display: flex;
        flex-direction: column;
    }
    .left-new {
        margin-left: 5%;
        margin-bottom: 5%;
        width: 90%;
        text-align: center;
    }
    .left-new img {
       width: 70%;
    }
    .right-new {
        width: 70%;
        margin-left: 15%;
    }
    .right-new img {
        width: 80%;
    }
    .description-product {
        text-align: center;
        margin-right: 4%;
        margin-top: 2%;
    }
    /*----- AREA 01 SHOP -----*/



    /*----- SLIDER -----*/
    .slider-images {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        height: 60vh;
        align-items: center;
        text-align: center;
    }
    .image-slider {
        margin: 5px;
        width: 30%;
        height: 60vh;
    }
    .lower-img {
        width: 15%;
        margin: 0;
        height: 80%;
    }
    .lower-img img {
        width: 100%;
    }
    /*----- SLIDER -----*/



    /*----- CARD -----*/
    .card-products {
        height: 50vh;
    }
    .left-card {
        width: 40%;
    }
    .img-left-card {
        height: 100%;
    }
    .right-card {
        width: 60%;
        margin: 0;
        align-items: center;
    }
    .block-product {
        width: 100%;
    }
    .img-product {
        width: 100%;
    }
    .name-product-card, .value-product-card {
        font-size: 10pt;
        color: #919191;
        text-transform: uppercase;
        margin-left: 5%;
    }
    .more-card {
        padding: 10%;
    }
    /*----- CARD -----*/
}
@media screen and (max-width: 600px) {

    /*----- AREA 01 SHOP -----*/
    .shop-title {
        margin: 30px 10px;
        font-size: 40pt;
    }
    .left-new {
        width: 90%;
        text-align: center;
    }
    .left-new img {
       width: 100%;
    }
    .right-new {
        width: 80%;
        margin-left: 10%;
    }
    .right-new img {
        width: 95%;
    }
    .description-product {
        text-align: center;
        margin-right: 4%;
        margin-top: 2%;
    }
    .name-product {
        font-size: 8pt;
        letter-spacing: 1px;
    }
    /*----- AREA 01 SHOP -----*/



    /*----- SLIDER -----*/
    .image-slider {
        margin: 1px;
        width: 29%;
        height: 70vh;
    }
    .lower-img {
        display: none;
    }
    /*----- SLIDER -----*/
}
   

/*-------------------------------------------------------------------------------- RESPONSIVIDADE --------------------------------------------------------------------------------*/